html {
  height: 100%;
}

body {
  background-color: #f3f2f0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'intro-bold';
  src: url('../fonts/intro-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'intro-extra-bold';
  src: url('../fonts/intro-extra-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'intro-light';
  src: url('../fonts/intro-light.ttf') format('truetype');
}

.header {
  background-color: #131110;
  background-image: url("../img/design/slider1.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.logo {
  background-image: url(../img/design/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 200px;
  height: 174px;
}

@media (max-width: 850px) {
  .logo {
    margin: 25px auto;
  }

  .header-top {
    text-align: center;
  }

  .header-top-navigation {
    margin: 20px;
    line-height: 30px;
  }

  .content-text {
    margin: 30px 0;
  }

  .content-text img {
    transform: scale(1.17);
    margin: 25px 0;
  }

  .jumbotron-block {
    grid-gap: 20px;
    margin-bottom: 30px;
  }

  .jumbotron-block-info {
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
  }

  .jumbotron-block-info > div:first-child {
    text-align: right;
  }

  .container {
    width: auto;
  }

  .quote {
    background-position: 100% 0;
    background-size: cover;
  }

  .quote-block > div:first-child {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }

  .quote-block > div:first-child::after {
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 2px dotted #675a55;
    width: 100%;
  }

  .calendar-header {
    text-align: center;
  }

  .calendar-combined {
    grid-template-columns: 3fr 1fr;
  }

  .calendar-header-link {
    display: inline-block;
  }

  .calendar-block {
    margin: 0 30px;
  }

  .announce-image {
    height: 300px;
    background-position: 50%;
  }

  .announce-head {
    padding: 23px 23px 23px 100px;
  }
  
  .announce-link {
    text-align: right;
  }

  .info {
    background-position: 100%;
  }

  .info-block {
    grid-template-columns: 0 1fr;
  }

  .info-block > div {
    padding: 80px;
  }

  .map > div:first-child {
    text-align: center;
  }

  .map > div:nth-child(2) {
    height: 300px;
  }
}

@media (min-width: 851px) and (max-width: 1220px) {
  .logo {
    margin-top: 13px;
  }

  .container {
    width: 780px;
  }

  .header {
    background-size: 1200px;
  }

  .header-page {
    height: 270px;
  }

  .header-top {
    grid-template-columns: 300px auto;
  }

  .header-top-navigation {
    text-align: right;
    align-self: center;
  }

  .header-top-navigation > a {
    line-height: 40px;
  }

  .content-block {
    margin-top: -60px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
  }

  .content-text {
    margin: 30px 20px;
  }

  .content-text img {
    max-width: 100%;
    transform: scale(1.12);
    margin: 25px 0;
  }

  .jumbotron {
    height: 235px;
  }

  .jumbotron-block {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -90px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }

  .jumbotron-block-splitter::after {
    top: 35px;
  }

  .jumbotron-block-info {
    grid-gap: 8px;
    text-align: center;
  }

  .announce-block {
    grid-template-columns: 235px auto;
  }

  .quote {
    background-position: 100% 20%;
    background-size: 250%;
  }

  .quote-block {
    grid-template-columns: 1fr 1fr;
    grid-gap: 120px;
  }

  .calendar-header {
    text-align: center;
  }

  .calendar-header-link {
    display: inline-block;
  }

  .calendar-combined {
    grid-template-columns: 3fr 1fr;
  }

  .announce-head {
    padding: 23px;
    margin-top: 28px;
  }

  .announce-head-date {
    margin-left: -80px;
    border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
  }

  .calendar-block {
    grid-template-columns: 1fr 1fr;
  }

  .info {
    background-position: 50%;
  }

  .info-block {
    grid-template-columns: 1fr 1fr;
  }

  .info-block > div {
    padding: 80px 40px;
  }

  .map > div:first-child {
    text-align: right;
  }

  .map {
    grid-template-columns: 1fr 1fr;
  }

  .map > div:first-child::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #bfbebb;
    top: 55px;
    right: -20px;
    z-index: 1;
  }

  .map > div:first-child::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #FFFFFF;
    top: 55px;
    right: -19px;
    z-index: 2;
  }
}

@media (min-width: 1221px) {
  .logo {
    margin-top: 13px;
  }

  .container {
    width: 1170px;
  }

  .calendar-box-splitted {
    grid-template-columns: 1fr 1fr;
  }

  .calendar-combined {
    grid-template-columns: 3fr 2fr 3fr 1fr;
  }

  .header-index {
    height: 920px;
  }

  .header-top {
    grid-template-columns: 300px auto;
  }

  .header-top-navigation {
    text-align: right;
    align-self: center;
  }

  .header-top-navigation > a {
    margin-left: 30px;
  }

  .content-block {
    margin-top: -60px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
  }

  .content-text {
    margin: 30px 40px;
  }

  .content-text img {
    transform: scale(1.08);
    margin: 25px 0;
  }

  .jumbotron {
    height: 160px;
  }

  .jumbotron-block {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -60px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }

  .jumbotron-block-splitter::after {
    top: 3px;
  }

  .jumbotron-block-info {
    grid-template-columns: 80px auto;
    grid-gap: 15px;
  }

  .announce-container {
    grid-template-columns: 1fr 1fr;
  }

  .announce-block {
    grid-template-columns: 235px auto;
  }

  .announce-head {
    padding: 23px;
    margin-top: 28px;
  }

  .announce-head-date {
    margin-left: -80px;
    border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
  }

  .quote {
    background-position: 50%;
    background-size: cover;
  }

  .quote-block {
    grid-template-columns: 1fr 1fr;
    grid-gap: 120px;
  }

  .calendar-block {
    grid-template-columns: 1fr 1fr;
  }

  .info {
    background-position: 50%;
  }

  .info-block {
    grid-template-columns: 1fr 1fr;
  }

  .info-block > div {
    padding: 80px 40px;
  }

  .map > div:first-child {
    text-align: right;
  }

  .map {
    grid-template-columns: 1fr 1fr;
  }

  .map > div:first-child::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #bfbebb;
    top: 55px;
    right: -20px;
    z-index: 1;
  }

  .map > div:first-child::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #FFFFFF;
    top: 55px;
    right: -19px;
    z-index: 2;
  }
}

.container {
  margin: 0 auto;
}

/* HEADER BLOCK */
.header-top {
  display: grid;
}

.header-top-navigation > a {
  color: #EEE;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "intro-bold", "Helvetica", "Arial", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
  padding: 10px 10px 8px 10px;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  display: inline-block;
}

.header-top-navigation > a:hover {
  background: rgba(232, 232, 232, 0.23);
}

.content-block {
  background-color: #FFF;
  -webkit-box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.3);
  display: grid;
  padding: 20px 35px;
  margin-bottom: -60px;
}

.content-title {
  font-family: "intro-extra-bold", "Helvetica", "Arial", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #343331;
  letter-spacing: 1px;
}

.content-lid {
  font-family: "intro-bold", "Helvetica", "Arial", sans-serif;
  margin: 10px 0;
  font-size: 19px;
  color: #444444;
}

.content-date {
  font-family: "intro-light", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  color: #666;
  letter-spacing: 0.05em;
}

.content-text img {
  max-width: 100%;
}

.jumbotron-block {
  background-color: #FFF;
  -webkit-box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.3);
  display: grid;
  padding: 20px 35px;
}

.jumbotron-block-splitter {
  position: relative;
}

.jumbotron-block-splitter::after {
  content: " ";
  position: absolute;
  left: -35px;
  height: 80px;
  border-right: 2px dotted #e7e7e7;
}

.jumbotron-block-info {
  display: grid;
  align-items: center;
}

.jumbotron-title-large {
  font-family: "intro-extra-bold", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #343331;
}

.jumbotron-title {
  font-family: "intro-extra-bold", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #343331;
}

.jumbotron-description {
  font-family: "intro-light", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  color: #666;
  letter-spacing: 0.05em;
}

/* TITLE CENTERED */
.title-centered {
  margin-bottom: 40px;
}

.title-centered-block {
  font-family: "intro-extra-bold", "Helvetica", "Arial", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #343331;
  text-align: center;
  letter-spacing: 1px;
}

/* ANNOUNCE BLOCK */
.announce-container {
  display: grid;
  grid-gap: 30px;
}

.announce-block {
  display: grid;
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.announce-block:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.announce-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.announce-head {
  background-color: #e7e5e2;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #484848;
  letter-spacing: 0.02em;
}

.announce-head-date {
  background-color: #2c9b5e;
  width: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 20px;
  display: grid;
  grid-gap: 3px;
}

.announce-head-date-day {
  color: #FFF;
  font-size: 27px;
  font-family: "intro-extra-bold", "Helvetica", "Arial", sans-serif;
  align-self: end;
}

.announce-head-date-month {
  color: #1c5535;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.announce-head-city {
  color: #b5b4b1;
}

.announce-title {
  font-family: "intro-bold", "Helvetica", "Arial", sans-serif;
  margin: 23px;
  font-size: 18px;
}

.announce-title-black {
  color: #444444;
}

.announce-title-green {
  color: #2c9b5e;
}

.announce-text {
  color: #979593;
  margin: 0 23px 25px 23px;
  font-size: 14px;
}

.announce-link {
  font-family: "intro-bold", "Helvetica", "Arial", sans-serif;
  margin: 23px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.announce-link:hover {
  text-decoration: underline;
}

.announce-link-black {
  color: #444444;
}

.announce-link-green {
  color: #2c9b5e;
}

.announce-button-block {
  margin: 40px;
  text-align: center;
}

.announce-button {
  text-decoration: none;
  background-color: #403e3b;
  color: #d7d7d7;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-family: "intro-bold", "Helvetica", "Arial", sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.announce-button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* QUOTE BLOCK */
.quote {
  background-image: url("../img/design/quote_bg.jpg");
  background-repeat: no-repeat;
  margin: 50px 0;
}

.quote-block {
  display: grid;
  align-items: center;
  text-align: center;
  color: #d0cdc6;
  padding: 40px 60px;
  font-size: 17px;
}

.quote-title1 {
  color: #e8c14c;
  margin-bottom: 20px;
  font-family: "intro-bold", "Helvetica", "Arial", sans-serif;
  font-size: 19px;
  text-transform: uppercase;
}

.quote-title2 {
  color: #e8c14c;
  margin-top: 20px;
  font-family: "intro-bold", "Helvetica", "Arial", sans-serif;
  font-size: 19px;
}

/* CALENDAR BLOCK */
.calendar {
  margin-bottom: 20px;
}

.calendar-block {
  display: grid;
  grid-gap: 45px;
}

.calendar-header {
  font-family: "intro-extra-bold", "Helvetica", "Arial", sans-serif;
  font-size: 27px;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 20px;
}

.calendar-header-normal {
  font-family: "intro-light", "Helvetica", "Arial", sans-serif;
}

.calendar-header-link {
  text-decoration: none;
  background-color: #f5cc3d;
  color: #24221f;
  padding: 10px 30px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-family: "intro-bold", "Helvetica", "Arial", sans-serif;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  font-size: 13px;
  vertical-align: middle;
  margin-left: 15px;
}

.calendar-header-link:hover {
  background-color: #2c9b5e;
  /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}

.calendar-title {
  font-family: "intro-bold", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #2c9b5e;
  margin-bottom: 10px;
}

.calendar-full {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 25px;
  grid-gap: 23px;
  font-family: "intro-light", "Helvetica", "Arial", sans-serif;
  color: #444444;
  font-size: 16px;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-full-splitter {
  position: relative;
}

.calendar-full-splitter::after {
  content: " ";
  position: absolute;
  right: 0;
  top: -3px;
  height: 25px;
  border-right: 2px dotted #e7e7e7;
}

.calendar-full-time {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "intro-bold", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

.calendar-box-splitted {
  display: grid;
  grid-gap: 20px;
}

.calendar-small {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px 25px;
  grid-gap: 15px;
  font-family: "intro-light", "Helvetica", "Arial", sans-serif;
  color: #444444;
  font-size: 16px;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-combined {
  display: grid;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px 25px;
  grid-gap: 15px;
  font-family: "intro-light", "Helvetica", "Arial", sans-serif;
  color: #444444;
  font-size: 16px;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-daily-block {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 25px 35px 10px 25px;
}

.calendar-daily {
  display: grid;
  grid-template-columns: 55px auto;
  grid-gap: 15px;
  font-family: "intro-light", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
}

.calendar-daily-style-gray {
  color: #86827d;
  font-size: 14px;
}

.calendar-daily-style-green {
  color: #2c9b5e;
  font-size: 14px;
}

.calendar-daily-splitter {
  position: relative;
  border-bottom: 1px solid #e3e3e3;
  margin-top: -5px;
  margin-bottom: 10px;
}

.calendar-daily-style-announced > div:nth-child(1) > div {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: #2c9b5e;
  padding: 5px;
  margin-left: -5px;
  margin-top: -3px;
  color: #FFFFFF;
  font-size: 14px;
  display: inline;
}

.calendar-daily-style-announced > div:nth-child(2) {
  font-family: "intro-bold", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

/* INFO BLOCK */
.info {
  background-image: url("../img/design/bg_info_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.info-block {
  display: grid;
}

.info-block-header {
  font-family: "intro-bold", "Helvetica", "Arial", sans-serif;
  font-size: 30px;
  color: #FFFFFF;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.info-block-text {
  color: #F5EDE9;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.info-block-link {
  font-family: "intro-bold", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #2c9b5e;
  text-decoration: none;
}

.info-block-link:hover {
  text-decoration: underline;
}

/* MAP BLOCK */
.map {
  display: grid;
  background-color: #FFFFFF;
}

.map > div:first-child {
  padding: 60px;
  border-right: 1px solid #bfbebb;
  position: relative;
}

.map-header {
  font-family: "intro-extra-bold", "Helvetica", "Arial", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color: #343331;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.map-info {
  color: #444;
  font-size: 15px;
  margin-bottom: 11px;
}

.map > div:nth-child(2) {
  position: relative;
}

.map > div:nth-child(2) > iframe {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.footer {
  background-color: #403e3b;
  text-align: center;
  padding: 20px;
  color: #9a9a9a;
  font-size: 13px;
  line-height: 20px;
}

.footer-page {
  z-index: -1;
  position: relative;
  padding: 100px 20px 30px 20px;
}